LiteBIRD-inclination-analysis/results/error_map.fits
.DS_Store
LiteBIRD-inclination-analysis/litebird-scanning-strategy/map.fits.gz
LiteBIRD-inclination-analysis/litebird-scanning-strategy/report.html
LiteBIRD-inclination-analysis/litebird-scanning-strategy/report.md