.DS_Store
LiteBIRD-inclination-analysis/litebird-scanning-strategy/*
LiteBIRD-inclination-analysis/scanning_strategies/
LiteBIRD-inclination-analysis/results/*
LiteBIRD-inclination-analysis/notebooks/*
notebooks/*
notebooks/